---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");

const hrefString = href?.toString() ?? "";

const currentSubpath = pathname.match(/[^\/]+/g);
const currentRoot = currentSubpath?.[0];

const hrefSubpath = hrefString
  .replace(import.meta.env.BASE_URL, "")
  .match(/[^\/]+/g);
const hrefRoot = hrefSubpath?.[0];

const isActive =
  hrefString === pathname ||
  hrefString === "/" + (currentRoot || "") ||
  (currentRoot && hrefRoot === currentRoot);

const baseClasses =
  "hover:rounded-full hover:bg-background/50 dark:hover:text-foreground text-background px-2.5 py-1 text-sm";
---

<a
  href={href}
  class={cn(baseClasses, className, {
    "bg-primary text-primary-foreground dark:hover:text-primary-foreground hover:bg-primary hover:text-primary-foreground rounded-full":
      isActive,
  })}
  {...props}
>
  <slot />
</a>
